
*{
    
    display:block;
    padding:.2em;



}

#top {
    position: relative;
    background-color: #666;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    font-size:1em;
    font-weight: bold;
    font-family: sans-serif;


}

#bottom {
    position: relative;
    color: steelblue;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    background-color: #666;
     font-size:1em;
    font-weight: bold;
    font-family: sans-serif;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
    font-size:1em;
    font-family: sans-serif;
    border-radius:.5em;
    display:inline-block;
    max-width: 50%;

}



.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left:0;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}


@media screen and (max-widht: 468px) {

    .center_content {
        max-width: 100%;
        background-color: gray;

    }

}

